.ext-css-color-highlighter-avasay-sayava__hl {
  padding: 0 2px;
  border-radius: 4px;
  font-weight: 500;
  cursor: inherit;
  pointer-events: auto;
}

.ext-css-color-highlighter-avasay-sayava__hl.ext-css-color-highlighter-avasay-sayava__hl--hover {
  padding: 0;
}

.ext-css-color-highlighter-avasay-sayava__tt {
  position: absolute;
  z-index: 999999;
  padding: 6px 10px;
  border-radius: 6px;
  font-size: 12px;
  pointer-events: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}
